<div class="top_container">
  <div class="top_banner_image" id="poster_1">
  </div>
  <div class="black_overlay" id="overlay_top">
    <div class="text_on_poster animatedParent"  id="text_top" > 
      <div class="text_on_poster_div  animated justIn">
        <div class="address">
          <div class="address_title">
              Address
          </div>
          <div class="contact_text" [innerHtml]="address">
          </div>
        </div>
        <div class="phone">
          <div class="phone_title">
              Phone
          </div>
          <div class="contact_text" [innerHtml]="phone">
          </div>
        </div>
      </div>      
    </div>
    <div class="contact_form">
      <div class="message">
        <div class="contact_btn">Contact Us</div>
        <div class="contact_title">
          If you want to ask a question, need assistance, or send a proposal, write to us. We reply within reasonable business hours, or sooner!
        </div>
        <form action="mailto:admin@farmkart.com" method="post" enctype="text/plain">
          <div class="message_info">
            <input type="text" name="name" placeholder="Name" class="input_text">
            <input type="text" name="email" placeholder="Email" class="input_text">
            <input type="text" name="phone" placeholder="Phone number" class="input_text">
          </div>
          <textarea placeholder="Your Message" class="message_content input_text"></textarea>
          <div class="clearfix"><input type="submit"  class="submit_btn"></div>
        </form>
      </div>
    </div>
  </div>
</div>

<app-footer>
</app-footer>
