
.text_on_poster{
  padding:5px;
  border: 1px solid rgba(0,0,0,.5);
  position: absolute;
  bottom:15vw;
  width:40%;
  margin-left: 30px;  
}

.text_on_poster_div{
  color: rgba(255,255,255,.95);
  text-align: left;
  font-family: OpenSans-Regular;
  background-color: rgba(0,0,0,.5);
  padding: 2.9vw;
}
.text_on_poster h2{
  font-size: 26px;
  letter-spacing: 1.92px;
}
.text_on_poster p{
  font-size: 20px;
  letter-spacing: 1.92px;
}


.full_job_wrapper{
  padding: 6rem 30% 5rem 5%;
}

.content{
  color: #7E8890;
  font-family: Lato-Light;
  font-size: 1.1vw;
  text-align: center;
  width: 80%;
  margin: 0 auto;
}

.job_req{
  font-family: Lato-Regular;
  color: #333C4E;
  margin-right: 5px;
}

.banner_image{
  height: 60vw;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
  background-image: url("/assets/images/careers_banner.jpg");
}

.black_overlay{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 60vw;
  background: rgba(0,0,0,.5);
}

.top_container{
  height: 60vw;
  width: 100%;
}

.top_banner_image{
  height: 100%;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
}

.banner_top_filler{
  min-height: 42vw;
  width: 100%;
}

.wrapper{
  padding: 4rem 17.5% 9rem 17.5%;
  background-color: #fff;
}

.text_on_poster_2{
  font-size: 1.2vw;
  margin-top: 1rem;
}

.title{
  color: #333C4E;
  font-family: OpenSans-Regular;
  font-size: 23px;
  letter-spacing: 1.15px;
  margin-bottom: 30px;
}
.positions_container{
  padding: 5.8vw 12.5% 11vw;
  text-align: center;
  background: #f5f5f5;
  overflow: hidden;
}
.join_us_container{
  padding: 11vw 12.5% 0;
  text-align: center;
  background: #f5f5f5;
  overflow: hidden;
}
.carrer_container{
  padding: 5.8vw 12.5%;
  text-align: center;
  background: #f5f5f5;
  overflow: hidden;
}
.job_wrapper{
  padding: .25rem 0;
}

.job_title{
  color: #333C4E;
  font-family: OpenSans-Regular;
  font-size: 1.7vw;
}

.job_title_prev{
  color: #333C4E;
  font-family: OpenSans-Regular;
  font-size: 1.2vw;
}

.job_desc_prev{
  color: #333C4E;
  font-family: OpenSans-Light;
  font-size: .9vw;
  line-height: 20px;
  margin-top: .75rem;
}

.job_content{
  color: #7E8890;
  font-family: OpenSans-Light;
  font-size: .9vw;
}

.careers_wrapper{
  margin: 6rem -5% 0 -5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.careers_content{
  width: 47%;
}

.careers_padding{
  padding-top: .6rem;
}

.careers_text{
  text-align: left;
}

#careers_image{
  width: 47%;
}

.positions_wrapper{
  margin: 2rem -10% 0 -10%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.position_container{
  background: #FFFFFF;
  box-shadow: 0 6px 12px 0 rgba(0,0,0,0.08);
  width: 30%;
  text-align: center;
  padding: 1.5rem 2%;
  margin: 1rem 0;
}
.position_container .btn{
  border-radius: 0 !important;
}
.btn{
  
  color: #fff;
  background-color: #342e45;
  padding: 10px 42px;
  font-family: Lato-Light;
  font-size: 1vw;
  margin-top: 20px;
  cursor: pointer;
}

@media all and (max-width: 992px) {

  #careers_image{
    width: 100%;
  }

  .wrapper{
    padding: 2rem 10% 2rem 5%;
  }

  .title{
    font-size: 4.1vw;
  }

  .content{
    font-size: 3.5vw;
  }

  .job_wrapper{
    padding: .25rem 0;
  }

  .job_title{
    font-size: 3.2vw;
  }

  .job_content{
    font-size: 2.2vw;
  }

  .text_on_poster p{
    font-size: 2.9vw;
    margin-top: .3rem;
    line-height: 5.25vw;
  }

  /*.banner_image{
    height: 70vw;
  }

  .banner_top_filler{
    min-height: 70vw;
  }

  .top_container{
    height: 70vw;
  }*/

  .text_on_poster{
    font-size: 2.9vw;
    margin-top: .3rem;
    line-height: 5.25vw;
  }

  .careers_wrapper{
    flex-wrap: wrap;
  }

  .careers_content{
    width: 100%;
    padding-top: 2rem;
  }

  .careers_text{
    text-align: center;
  }

  .careers_wrapper{
    margin: 2.5rem 0;
  }

  .positions_wrapper{
    margin: 2rem 0% 0 0%;
  }

  .position_container{
    width: 100%;

    margin-bottom: 1.5rem;
  }

  .job_title_prev{
    font-size: 3.4vw;
  }

  .job_desc_prev{
    font-size: 3.1vw;
  }

  .position_container{
    padding: 1.5rem 8%;
  }

  .btn{
    font-size: 3vw;
  }

}
